html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, 
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
} 

html {
	height: 100%;
}

body {
	height: 100%;
	font: 13px/16px Arial, Tahoma, sans-serif;
	color: #000;
	background: #fff url(../img/background.png) repeat; 
}

ol, ul {
	list-style: none;
}

* {
	margin: 0;
	padding: 0;
	outline: none;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

a , a:hover {
	text-decoration: none;
	color: #000;
}

.clearfix:before, 
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.left {
	float:left;
}

.right {
	float: right;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}


.center {
	width: 960px;
	margin: 0 auto; /* выровнять по центру */
}

.panel-top {
	background: #2A2B2C;
	border-top: 3px solid #cc3333;
	height: 33px; 
}

.social {
	padding: 4px 0;	
	-webkit-user-select: none; /*чтобы не выделяли пробелы*/
	   -moz-user-select: none;
}

.social a {
	display: inline-block;
	vertical-align: middle;
	height: 23px;
	width: 23px;
	background: url(../img/social.png) no-repeat center;
	-webkit-border-radius: 50%; /*поскольку картинки в спрайте круглые, то нам надо и ссылки сделать круглыми*/
	   -moz-border-radius: 50%;
	     -o-border-radius: 50%;
	        border-radius: 50%;
}

.social a.s-fb {
	background-position: 0 0;
}
.social a.s-dribble {
	background-position: -23px 0;
}
.social a.s-tw {
	background-position: -46px 0;
}
.social a.s-mail {
	background-position: -69px 0;
}
.social a.s-vimeo {
	background-position: -92px 0;
}

.login {
	padding: 7px 0;
}

.login a,
.login span {
	color: #fff;
}

.login a:hover {
	text-decoration: underline;
}

.basket {
	width: 90px;
	height: 45px;
	background: #cc3333 url("../img/cart.png") no-repeat 7px 7px;
	margin-left: 30px;
	-webkit-border-radius: 0 0 7px 7px;
	   -moz-border-radius: 0 0 7px 7px;
	     -o-border-radius: 0 0 7px 7px;
	        border-radius: 0 0 7px 7px;
	overflow: hidden; /*в данном случае обрезает края ссылки по border-radius*/
}

.basket a {
	display: block; /*ссылка на весь размер блока*/
	height: 45px;
	padding: 15px 0 0 41px;
	color: #fff;
}

#header {
	padding: 18px 0;
}

#logo img,
#logo span {
	display: inline-block;
	vertical-align: middle;
}

#logo span {
	font-size: 30px;
}

.nav {
	margin-top: 25px;
}

.nav li {
	position: relative;
	float:left;
}

/* добавим отступ каждому следующему вподряд Li */
.nav li + li {
	margin-left: 30px;
}

.nav li:before {
	content: "";
	position: absolute;
	top: -17px;
	left: 50%;
	margin-left: -18px;
	display: none;
	width: 35px;
	border-top: 4px solid #efc539;
}

.nav li:hover:before,
.nav li.active:before {
	display: block;
}

.nav li a {
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
}

