@import url('https://fonts.googleapis.com/css?family=Oswald'); 

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, 
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
} 


html {
	height: 100%;
}

body {
	height: 100%;
	font: 13px/16px Arial, Tahoma, sans-serif;
	color: #000;
	background: #fff url(../img/background.png) repeat; 
}

ol, ul {
	list-style: none;
}

* {
	margin: 0;
	padding: 0;
	outline: none;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

a , a:hover {
	text-decoration: none;
	color: #000;
}

.clearfix:before, 
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.left {
	float:left;
}

.right {
	float: right;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}


.center {
	width: 960px;
	margin: 0 auto; /* выровнять по центру */
}

.panel-top {
	background: #2A2B2C;
	border-top: 3px solid #cc3333;
	height: 33px; 
}

.social {
	padding: 4px 0;	
	-webkit-user-select: none; /*чтобы не выделяли пробелы*/
	   -moz-user-select: none;
}

.social a {
	display: inline-block;
	vertical-align: middle;
	height: 23px;
	width: 23px;
	background: url(../img/social.png) no-repeat center;
	-webkit-border-radius: 50%; /*поскольку картинки в спрайте круглые, то нам надо и ссылки сделать круглыми*/
	   -moz-border-radius: 50%;
	     -o-border-radius: 50%;
	        border-radius: 50%;
}

.social a.s-fb {
	background-position: 0 0;
}
.social a.s-dribble {
	background-position: -23px 0;
}
.social a.s-tw {
	background-position: -46px 0;
}
.social a.s-mail {
	background-position: -69px 0;
}
.social a.s-vimeo {
	background-position: -92px 0;
}

.login {
	padding: 7px 0;
}

.login a,
.login span {
	color: #fff;
}

.login a:hover {
	text-decoration: underline;
}

.basket {
	width: 90px;
	height: 45px;
	background: #cc3333 url("../img/cart.png") no-repeat 7px 7px;
	margin-left: 30px;
	-webkit-border-radius: 0 0 7px 7px;
	   -moz-border-radius: 0 0 7px 7px;
	     -o-border-radius: 0 0 7px 7px;
	        border-radius: 0 0 7px 7px;
	overflow: hidden; /*в данном случае обрезает края ссылки по border-radius*/
}

.basket a {
	display: block; /*ссылка на весь размер блока*/
	height: 45px;
	padding: 15px 0 0 41px;
	color: #fff;
}

#header {
	padding: 18px 0;
}

#logo img,
#logo span {
	display: inline-block;
	vertical-align: middle;
}

#logo span {
	font-size: 30px;
}

.nav {
	margin-top: 25px;
}

.nav li {
	position: relative;
	float:left;
}

/* добавим отступ каждому следующему вподряд Li */
.nav li + li {
	margin-left: 30px;
}

.nav li:before {
	content: "";
	position: absolute;
	top: -17px;
	left: 50%;
	margin-left: -18px;
	display: none;
	width: 35px;
	border-top: 4px solid #efc539;
}

.nav li:hover:before,
.nav li.active:before {
	display: block;
}

.nav li a {
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
}

#home {
	padding-bottom: 10px; /* чтобы белый блок выпал вниз */
	border-bottom: 1px solid #e0e0e0;
	background: #fff;
	margin-bottom: 40px;
}

.home-bg {
	background: #cd3737;
	padding: 20px 0;
	
	-webkit-box-shadow: inset 0 5px 5px rgba(0,0,0,.25); /* тень внутренняя 5 радиус 5 размытие и 25% прозрачность */
	   -moz-box-shadow: inset 0 5px 5px rgba(0,0,0,.25);
	    -ms-box-shadow: inset 0 5px 5px rgba(0,0,0,.25);
	     -o-box-shadow: inset 0 5px 5px rgba(0,0,0,.25);
			box-shadow: inset 0 5px 5px rgba(0,0,0,.25);
}

.title-home {
	color: #fff;
	text-transform: uppercase;
	font: 28px 'Oswald', sans-serif;
	
	-webkit-text-shadow: 0 1px 1px rgba(0,0,0,.25);
	   -moz-text-shadow: 0 1px 1px rgba(0,0,0,.25);
	    -ms-text-shadow: 0 1px 1px rgba(0,0,0,.25);
	     -o-text-shadow: 0 1px 1px rgba(0,0,0,.25);
			text-shadow: 0 1px 1px rgba(0,0,0,.25);
}

.breadcrumbs li {
	float: left;
}

.breadcrumbs li a,
.breadcrumbs li span {
	font-size: 12px;
	color: #fff;

	-webkit-text-shadow: 0 1px 1px rgba(0,0,0,.25);
	   -moz-text-shadow: 0 1px 1px rgba(0,0,0,.25);
	    -ms-text-shadow: 0 1px 1px rgba(0,0,0,.25);
	     -o-text-shadow: 0 1px 1px rgba(0,0,0,.25);
			text-shadow: 0 1px 1px rgba(0,0,0,.25);
}

.breadcrumbs li .sp {
	display: inline-block;
	margin: 0 5px 0 0;
	font-size: 16px;
	
}

.breadcrumbs li a:hover {
	text-decoration: underline;
}

.home-link {
	display: inline-block;
	margin-top: 12px;
	width: 36px;
	height: 33px;
	background: url(../img/HouseIcon.png) no-repeat;
}

.sorting {
	padding: 18px 18px 14px 18px;
	background: #fff;
	border: 1px solid #EAEAEA;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	     -o-border-radius: 3px;
	        border-radius: 3px;
	margin-bottom: 40px;
}

.s-category li {
	padding: 4px 15px 0 9px;
	float: left;
	background: url(../img/s-sp.png) no-repeat right center;
}

.s-category li:last-child {
	background: none;
}

.s-category li:first-child {
	padding: 4px 15px 0 0;
}

.s-category{
	display: inline-block;
}

.s-category a {
	color: #1e1e20;
	text-transform: uppercase;
}

.s-category a:hover,
.s-category li.active a {
	color: #cd3737;
}

.sel-sorting {
	display: inline-block;
	margin-right: 80px;
}

.sel-sorting span {
	font: bold 13px/20px Arial, sans-serif;
}

.s-list a {
	display: inline-block;
	vertical-align: middle;
	height: 19px;
	width: 30px;
	background: url(../img/sprite-filter.png) no-repeat center 15px;
}

.s-list a.s-block {
	background-position: 0 0;
}

.s-list a.s-block.active,
.s-list a.s-block:hover {
	background-position: -30px 0;
}

.s-list a.s-list {
	background-position: -60px 0;
}

.s-list a.s-list.active,
.s-list a.s-list:hover {
	background-position: -90px 0;
}

.s-list a + a {
	margin-left: 10px;
}

.sidebar {
	width: 240px;
}

.content {
	margin-right: 285px;
}

.products {
	width: 215px;
	height: 370px;
	background: #FFF;
	overflow: hidden;
	float: left;
	margin-right: 15px;
	margin-bottom: 15px;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	     -o-border-radius: 5px;
	        border-radius: 5px;
	
	-webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.15);
	   -moz-box-shadow: 0 2px 3px rgba(0,0,0,0.15);
	     -o-box-shadow: 0 2px 3px rgba(0,0,0,0.15);
	        box-shadow: 0 2px 3px rgba(0,0,0,0.15);
}

.products:nth-child(3n) {
	margin-right: 0;
}

/* поскольку кружечек sale позиционируется внутри p-img*/
.p-img {
	position: relative;
	height: 215px;
	overflow: hidden;
	border: 1px solid #000;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	     -o-border-radius: 5px;
	        border-radius: 5px;
	
	-webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.75);
	   -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.75);
	     -o-box-shadow: 0 1px 5px rgba(0,0,0,0.75);
	        box-shadow: 0 1px 5px rgba(0,0,0,0.75);
}

.p-img a img {
	display: block;
    max-width: 215px;
    height: 215px;
}

.sale {
	font: bold 12px/50px Arial, sans-serif; /*выравниваем надпись по центру круга через lineheight 50px*/
	color: #fff;
	text-transform: uppercase;
	position: absolute;
	text-align: center;
	top: 10px;
	left: 10px;
	width: 50px;
	height: 50px;
	z-index: 3;
	background: rgba(204,51,51,.6);
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	     -o-border-radius: 50%;
	        border-radius: 50%;
}

.products h6,
.s-product-info h6 {
	margin: 13px 0;
	font-size: 14px;
	font-weight: bold;
}

.products h6 span {
	font-weight: normal;
	font-style: italic;
}

.p-footer {
	padding: 0 10px 15px 10px;
}

.p-footer p strong {
	font-weight: bold;
}

.p-footer p {
	margin-bottom: 15px;
}

.p-footer h6 a:hover,
.s-product-info h6 a:hover {
	text-decoration: underline;
}

.price-lg {
	display: inline-block;
	font-weight: bold;
	font-size: 16px;
	margin-top: 7px;
}

.price {
	display: inline-block;
	font-weight: bold;
	text-decoration: line-through;
	margin-top: 3px;
}

.price-new {
	display: inline-block;
	font-weight: bold;
	color: #fff;
	padding: 3px;
	background: #c33;
	margin-top: 3px;
}

.add-cart {
	display: block;
	text-transform: uppercase;
	padding: 6px 9px;
	font-size: 10px;
	background: #1E1E20;
	color: #fff;
	
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	     -o-border-radius: 5px;
	        border-radius: 5px;
}

.add-cart:hover {
	background: #888;
}

.rate {
	margin: 10px 0;
	height: 15px;
	background: url(../img/black-star.png) repeat-x;
	width: 76px;
}

.rate > div {
	height: 100%;
	background: url(../img/red-star.png) repeat-x;
}

.pagination {
	margin-top: 20px;
}

.pagination ul li {
	float: left;
	margin-right: 15px;
}

.pagination ul li:first-child {
	padding-left: 10px;
}

.pagination ul a {
	font: bold 14px/20px Arial, sans-serif;
}

.pagination ul a:hover {
	color: #cc3333;
}

.pagination ul li.active a {
	color: #cc3333;
}


.s-title {
	position: relative; /*Для позиционирования красного кирпичика*/
	margin: 0 0 10px;
	padding: 0 0 15px 15px;
	font: 18px 'Oswald', sans-serif;
	color: #2a2b2c;
	text-transform: uppercase;
	border-bottom: 1px dotted #d5d5d5;
}

.s-title .s-title-br {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;
	width: 40px;
	height: 8px;
	margin-top: -4px; /*сдвиг кирпичика вверх за пунктир*/
	background: #cc3333;
}

.s-products {
	margin: 15px 0 0;
	padding-left: 15px;
}

.s-products-item {
	margin-bottom: 10px;
}

.s-products-img {
	height: 90px;
	width: 90px;
	float: left;
	overflow: hidden;
	padding: 5px;
	background: #44484e;
}

.s-products-img a img {
	display: block;
    max-width: 80px;
    height: 80px;
}

.s-product-info {
	padding-top: 10px;
	margin-left: 105px;
}

.s-product-info h6 {
	margin-top: 0 !important;
}

.ic-comment {
	display: inline-block;
	vertical-align: middle;
	width: 13px;
	height: 12px;
	background: url(../img/comments.png) no-repeat center;
}

.s-product-info span {
	font-size: 11px;
	color: #1e1e20;
	text-transform: uppercase;
}

.cat-list {
	margin: 10px 0 30px 0;
	padding-left: 15px;
	list-style: url(../img/bulletSidebar.png);
	list-style-position: inside; /* расположить маркеры внутри блоков */
}

.cat-list li {
	padding: 10px 0;
	border-bottom: 1px dotted #9fa0a1;
}

.cat-list li:last-child {
	border-bottom: none;
}

.cat-list li a {
	font: bold 13px/13px Arial, sans-serif;
	color: #2a2b2c;
}

.cat-list li a:hover {
	color: #cc3333;
}

.cat-list li span {
	display: inline-block;
	margin-left: 5px;
	color: #7d7e7e;
	font: bold 13px/13px Arial, sans-serif;
}

.s-search {
	position: relative; /*для позиционирования иконки поиска*/
	margin-top: 15px;
	padding-left: 15px;
}

.s-search input[type="text"] {
	display: block;
	width: 100%;
	height: 40px;
	padding: 0 45px 0 15px; /* для того чтобы строка ввода не залазила за кнопку */
	border: 1px solid #e7e7e7;
	background: #fff;
	
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0, 0.06);
	   -moz-box-shadow: 0 1px 2px rgba(0,0,0, 0.06);
		-ms-box-shadow: 0 1px 2px rgba(0,0,0, 0.06);
	     -o-box-shadow: 0 1px 2px rgba(0,0,0, 0.06);
	        box-shadow: 0 1px 2px rgba(0,0,0, 0.06);
}

.s-search input[type="text"]::-webkit-input-placeholder {
	font-style: italic;
	color: #c3c2c2;
}

.s-search input[type="text"]::-moz-placeholder {
	font-style: italic;
	color: #c3c2c2;
}

.s-search input[type="submit"] {
	position: absolute;
	top: 0;
	right: 0;
	width: 40px;
	height: 40px;
	border: none;
	background: transparent url(../img/s-search-btn.png) no-repeat center;
	cursor: pointer; /* по умолчанию кнопки не имеют курсора */
} 