@import url('https://fonts.googleapis.com/css?family=Oswald'); 

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, 
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
} 


html {
	height: 100%;
}

body {
	height: 100%;
	font: 13px/16px Arial, Tahoma, sans-serif;
	color: #000;
	background: #fff url(../img/background.png) repeat; 
}

ol, ul {
	list-style: none;
}

* {
	margin: 0;
	padding: 0;
	outline: none;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

a , a:hover {
	text-decoration: none;
	color: #000;
}

.clearfix:before, 
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.left {
	float:left;
}

.right {
	float: right;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.wrapper {
	min-height: 100%; /* выравниваем для всех браузеров длинну обертки, для прижатия футера */
	height: auto !important;
	height: 100%; 
}

.center {
	width: 960px;
	margin: 0 auto; /* выровнять по центру */
}

.panel-top {
	background: #2A2B2C;
	border-top: 3px solid #cc3333;
	height: 33px; 
}

.social {
	padding: 4px 0;	
	-webkit-user-select: none; /*чтобы не выделяли пробелы*/
	   -moz-user-select: none;
}

.social a {
	display: inline-block;
	vertical-align: middle;
	height: 23px;
	width: 23px;
	background: url(../img/social.png) no-repeat center;
	-webkit-border-radius: 50%; /*поскольку картинки в спрайте круглые, то нам надо и ссылки сделать круглыми*/
	   -moz-border-radius: 50%;
	     -o-border-radius: 50%;
	        border-radius: 50%;
}

.social a.s-fb,
.social a.f-s-fb:hover {
	background-position: 0 0;
}
.social a.f-s-fb,
.social a.s-fb:hover {
	background-position: 0 -23px;
}
.social a.s-dribble,
.social a.f-s-dribble:hover {
	background-position: -23px 0;
}
.social a.f-s-dribble,
.social a.s-dribble:hover {
	background-position: -23px -23px;
}
.social a.s-tw,
.social a.f-s-tw:hover {
	background-position: -46px 0;
}
.social a.f-s-tw,
.social a.s-tw:hover {
	background-position: -46px -23px;
}
.social a.s-mail,
.social a.f-s-mail:hover {
	background-position: -69px 0;
}
.social a.f-s-mail,
.social a.s-mail:hover {
	background-position: -69px -23px;
}
.social a.s-vimeo,
.social a.f-s-vimeo:hover {
	background-position: -92px 0;
}
.social a.f-s-vimeo,
.social a.s-vimeo:hover {
	background-position: -92px -23px;
}

.login {
	padding: 7px 0;
}

.login a,
.login span {
	color: #fff;
}

.login a:hover {
	text-decoration: underline;
}

.basket {
	width: 90px;
	height: 45px;
	background: #cc3333 url("../img/cart.png") no-repeat 7px 7px;
	margin-left: 30px;
	-webkit-border-radius: 0 0 7px 7px;
	   -moz-border-radius: 0 0 7px 7px;
	     -o-border-radius: 0 0 7px 7px;
	        border-radius: 0 0 7px 7px;
	overflow: hidden; /*в данном случае обрезает края ссылки по border-radius*/
}

.basket a {
	display: block; /*ссылка на весь размер блока*/
	height: 45px;
	padding: 15px 0 0 41px;
	color: #fff;
}

#header {
	padding: 18px 0;
}

#logo img,
#logo span {
	display: inline-block;
	vertical-align: middle;
}

#logo span {
	font-size: 30px;
}

.nav {
	margin-top: 25px;
}

.nav li {
	position: relative;
	float:left;
}

/* добавим отступ каждому следующему вподряд Li */
.nav li + li {
	margin-left: 30px;
}

.nav li:before {
	content: "";
	position: absolute;
	top: -17px;
	left: 50%;
	margin-left: -18px;
	display: none;
	width: 35px;
	border-top: 4px solid #efc539;
}

.nav li:hover:before,
.nav li.active:before {
	display: block;
}

.nav li a {
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
}

#home {
	padding-bottom: 10px; /* чтобы белый блок выпал вниз */
	border-bottom: 1px solid #e0e0e0;
	background: #fff;
	margin-bottom: 40px;
}

.home-bg {
	background: #cd3737;
	padding: 20px 0;
	
	-webkit-box-shadow: inset 0 5px 5px rgba(0,0,0,.25); /* тень внутренняя 5 радиус 5 размытие и 25% прозрачность */
	   -moz-box-shadow: inset 0 5px 5px rgba(0,0,0,.25);
	    -ms-box-shadow: inset 0 5px 5px rgba(0,0,0,.25);
	     -o-box-shadow: inset 0 5px 5px rgba(0,0,0,.25);
			box-shadow: inset 0 5px 5px rgba(0,0,0,.25);
}

.title-home {
	color: #fff;
	text-transform: uppercase;
	font: 28px 'Oswald', sans-serif;
	
	-webkit-text-shadow: 0 1px 1px rgba(0,0,0,.25);
	   -moz-text-shadow: 0 1px 1px rgba(0,0,0,.25);
	    -ms-text-shadow: 0 1px 1px rgba(0,0,0,.25);
	     -o-text-shadow: 0 1px 1px rgba(0,0,0,.25);
			text-shadow: 0 1px 1px rgba(0,0,0,.25);
}

.breadcrumbs li {
	float: left;
}

.breadcrumbs li a,
.breadcrumbs li span {
	font-size: 12px;
	color: #fff;

	-webkit-text-shadow: 0 1px 1px rgba(0,0,0,.25);
	   -moz-text-shadow: 0 1px 1px rgba(0,0,0,.25);
	    -ms-text-shadow: 0 1px 1px rgba(0,0,0,.25);
	     -o-text-shadow: 0 1px 1px rgba(0,0,0,.25);
			text-shadow: 0 1px 1px rgba(0,0,0,.25);
}

.breadcrumbs li .sp {
	display: inline-block;
	margin: 0 5px 0 0;
	font-size: 16px;
	
}

.breadcrumbs li a:hover {
	text-decoration: underline;
}

.home-link {
	display: inline-block;
	margin-top: 12px;
	width: 36px;
	height: 33px;
	background: url(../img/HouseIcon.png) no-repeat;
}

.sorting {
	padding: 18px 18px 14px 18px;
	background: #fff;
	border: 1px solid #EAEAEA;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	     -o-border-radius: 3px;
	        border-radius: 3px;
	margin-bottom: 40px;
}

.middle {
	padding-bottom: 300px; /* место для прижатия футера */
}

.s-category li {
	padding: 4px 15px 0 9px;
	float: left;
	background: url(../img/s-sp.png) no-repeat right center;
}

.s-category li:last-child {
	background: none;
}

.s-category li:first-child {
	padding: 4px 15px 0 0;
}

.s-category{
	display: inline-block;
}

.s-category a {
	color: #1e1e20;
	text-transform: uppercase;
}

.s-category a:hover,
.s-category li.active a {
	color: #cd3737;
}

.sel-sorting {
	display: inline-block;
	margin-right: 80px;
}

.sel-sorting span {
	font: bold 13px/20px Arial, sans-serif;
}

.s-list a {
	display: inline-block;
	vertical-align: middle;
	height: 19px;
	width: 30px;
	background: url(../img/sprite-filter.png) no-repeat center 15px;
}

.s-list a.s-block {
	background-position: 0 0;
}

.s-list a.s-block.active,
.s-list a.s-block:hover {
	background-position: -30px 0;
}

.s-list a.s-list {
	background-position: -60px 0;
}

.s-list a.s-list.active,
.s-list a.s-list:hover {
	background-position: -90px 0;
}

.s-list a + a {
	margin-left: 10px;
}

.sidebar {
	width: 240px;
}

.content {
	margin-right: 285px;
}

.products {
	width: 215px;
	height: 370px;
	background: #FFF;
	overflow: hidden;
	float: left;
	margin-right: 15px;
	margin-bottom: 15px;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	     -o-border-radius: 5px;
	        border-radius: 5px;
	
	-webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.15);
	   -moz-box-shadow: 0 2px 3px rgba(0,0,0,0.15);
	     -o-box-shadow: 0 2px 3px rgba(0,0,0,0.15);
	        box-shadow: 0 2px 3px rgba(0,0,0,0.15);
}

.products:nth-child(3n) {
	margin-right: 0;
}

/* поскольку кружечек sale позиционируется внутри p-img*/
.p-img {
	position: relative;
	height: 215px;
	overflow: hidden;
	border: 1px solid #000;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	     -o-border-radius: 5px;
	        border-radius: 5px;
	
	-webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.75);
	   -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.75);
	     -o-box-shadow: 0 1px 5px rgba(0,0,0,0.75);
	        box-shadow: 0 1px 5px rgba(0,0,0,0.75);
}

.p-img a img {
	display: block;
    max-width: 215px;
    height: 215px;
}

.sale {
	font: bold 12px/50px Arial, sans-serif; /*выравниваем надпись по центру круга через lineheight 50px*/
	color: #fff;
	text-transform: uppercase;
	position: absolute;
	text-align: center;
	top: 10px;
	left: 10px;
	width: 50px;
	height: 50px;
	z-index: 3;
	background: rgba(204,51,51,.6);
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	     -o-border-radius: 50%;
	        border-radius: 50%;
}

.products h6,
.s-product-info h6 {
	margin: 13px 0;
	font-size: 14px;
	font-weight: bold;
}

.products h6 span {
	font-weight: normal;
	font-style: italic;
}

.p-footer {
	padding: 0 10px 15px 10px;
}

.p-footer p strong {
	font-weight: bold;
}

.p-footer p {
	margin-bottom: 15px;
}

.p-footer h6 a:hover,
.s-product-info h6 a:hover {
	text-decoration: underline;
}

.price-lg {
	display: inline-block;
	font-weight: bold;
	font-size: 16px;
	margin-top: 7px;
}

.price {
	display: inline-block;
	font-weight: bold;
	text-decoration: line-through;
	margin-top: 3px;
}

.price-new {
	display: inline-block;
	font-weight: bold;
	color: #fff;
	padding: 3px;
	background: #c33;
	margin-top: 3px;
}

.add-cart {
	display: block;
	text-transform: uppercase;
	padding: 6px 9px;
	font-size: 10px;
	background: #1E1E20;
	color: #fff;
	
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	     -o-border-radius: 5px;
	        border-radius: 5px;
}

.add-cart:hover {
	background: #888;
}

.rate {
	margin: 10px 0;
	height: 15px;
	background: url(../img/black-star.png) repeat-x;
	width: 76px;
}

.rate > div {
	height: 100%;
	background: url(../img/red-star.png) repeat-x;
}

.pagination {
	margin-top: 20px;
}

.pagination ul li {
	float: left;
	margin-right: 15px;
}

.pagination ul li:first-child {
	padding-left: 10px;
}

.pagination ul a {
	font: bold 14px/20px Arial, sans-serif;
}

.pagination ul a:hover {
	color: #cc3333;
}

.pagination ul li.active a {
	color: #cc3333;
}


.s-title {
	position: relative; /*Для позиционирования красного кирпичика*/
	margin: 0 0 10px;
	padding: 0 0 15px 15px;
	font: 18px 'Oswald', sans-serif;
	color: #2a2b2c;
	text-transform: uppercase;
	border-bottom: 1px dotted #d5d5d5;
}

.s-title .s-title-br {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;
	width: 40px;
	height: 8px;
	margin-top: -4px; /*сдвиг кирпичика вверх за пунктир*/
	background: #cc3333;
}

.s-products {
	margin: 15px 0 40px 0;
	padding-left: 15px;
}

.s-products-item {
	margin-bottom: 10px;
}

.s-products-img {
	height: 90px;
	width: 90px;
	float: left;
	overflow: hidden;
	padding: 5px;
	background: #44484e;
}

.s-products-img a img {
	display: block;
    max-width: 80px;
    height: 80px;
}

.s-product-info {
	padding-top: 10px;
	margin-left: 105px;
}

.s-product-info h6 {
	margin-top: 0 !important;
}

.ic-comment,
.ic-comment-white {
	display: inline-block;
	vertical-align: middle;
	width: 13px;
	height: 12px;
	background: url(../img/comments.png) no-repeat center;
}

.ic-comment-white {
	background: url(../img/f-comments.png) no-repeat center;
}

.s-product-info span {
	font-size: 11px;
	color: #1e1e20;
	text-transform: uppercase;
}

.cat-list {
	margin: 10px 0 30px 0;
	padding-left: 15px;
	list-style: url(../img/bulletSidebar.png);
	list-style-position: inside; /* расположить маркеры внутри блоков */
}

.cat-list li {
	padding: 10px 0;
	border-bottom: 1px dotted #9fa0a1;
}

.cat-list li:last-child {
	border-bottom: none;
}

.cat-list li a {
	font: bold 13px/13px Arial, sans-serif;
	color: #2a2b2c;
}

.cat-list li a:hover {
	color: #cc3333;
}

.cat-list li span {
	display: inline-block;
	margin-left: 5px;
	color: #7d7e7e;
	font: bold 13px/13px Arial, sans-serif;
}

.s-search {
	position: relative; /*для позиционирования иконки поиска*/
	margin-top: 15px;
	padding-left: 15px;
}

.s-search input[type="text"] {
	display: block;
	width: 100%;
	height: 40px;
	padding: 0 45px 0 15px; /* для того чтобы строка ввода не залазила за кнопку */
	border: 1px solid #e7e7e7;
	background: #fff;
	
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0, 0.06);
	   -moz-box-shadow: 0 1px 2px rgba(0,0,0, 0.06);
		-ms-box-shadow: 0 1px 2px rgba(0,0,0, 0.06);
	     -o-box-shadow: 0 1px 2px rgba(0,0,0, 0.06);
	        box-shadow: 0 1px 2px rgba(0,0,0, 0.06);
}

.s-search input[type="text"]::-webkit-input-placeholder {
	font-style: italic;
	color: #c3c2c2;
}

.s-search input[type="text"]::-moz-placeholder {
	font-style: italic;
	color: #c3c2c2;
}

.s-search input[type="submit"] {
	position: absolute;
	top: 0;
	right: 0;
	width: 40px;
	height: 40px;
	border: none;
	background: transparent url(../img/s-search-btn.png) no-repeat center;
	cursor: pointer; /* по умолчанию кнопки не имеют курсора */
} 

.footer {
	position: relative;
	height: 300px;
	margin-top: -300px;  /* загоняем футер в специально выдавленное место в классе middle */
	padding: 10px 0;
	border-top: 5px solid #000;
	background: #000 url(../img/footer-bg.png) repeat;
}

.footer p {
	color: #fff;
	margin-bottom: 20px;
}

.f-about {
	width: 240px;
	margin-right: 20px;
}

.f-title {
	margin-bottom: 15px;
	font-size: 16px;
	color: #fff;
}

.f-archives {
	margin-right: 20px;
	width: 210px;
}

.f-list li {
	padding: 13px 0;
	border-bottom: 1px dotted #acaba9;
}

.f-list li:last-child {
	border-bottom: none;
}

.f-list li a {
	color: #fff;
}

.f-populars {
	width: 220px;
	margin-right: 20px;
}

.f-populars .s-product-info h6 a,
.f-populars span {
	color: #fff;
}

.f-search {
	width: 205px;	
}

.f-search-inp input[type="text"] {
	display: block;
	height: 35px;
	width: 100%;
	margin-bottom: 30px;
	padding: 0 10px;
	font-style: italic;
	font-size: 13px;
	color: #aaa;
	border: 1px solid #333434;
	background: rgba(0,0,0,0.4);
}

.f-search-inp input[type="text"]::-webkit-input-placeholder {
	font-style: italic;
	color: #aaa;
}

.f-search-inp input[type="text"]::-moz-placeholder {
	font-style: italic;
	color: #aaa;
}

.footer a.tags {
	display: inline-block;
	font-size: 13px;
	color: #fff;
	background: #2a2a2a;
	padding: 4px 8px;
	margin-bottom: 4px;
}

.footer-bottom {
	margin-top: 5px;
	padding: 10px 0;
	border-top: 2px solid #000000;
	background: #1b1b1b;
}

.footer-bottom a,
.footer-bottom p {
	font-size: 11px;
	color: #6e6e6e;
	-webkit-text-shadow: 0 1px 1px rgba(0,0,0,0.5);
	   -moz-text-shadow: 0 1px 1px rgba(0,0,0,0.5);
	     -o-text-shadow: 0 1px 1px rgba(0,0,0,0.5);
	        text-shadow: 0 1px 1px rgba(0,0,0,0.5);
}			

.footer-bottom a + a {
	display: inline-block;
	margin-left: 15px;
}

.footer-bottom a:hover {
	color: #fff;
}

.f-home-link {
	position: absolute;
	top: -15px;
	right: 30px;
	display: inline-block;
	height: 30px;
	width: 30px;
	background: #cc3333 url(../img/arrow.png) no-repeat center;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	     -o-border-radius: 5px;
	        border-radius: 5px;
}

.f-home-link:hover {
	background: #912323 url(../img/arrow.png) no-repeat center;
}

#amount {
	width: 62px;
	background: transparent; /* прозрачный бекграунд для ползунка цен */
	font-size: 13px;
	color: #2a2b2c !important;
}

.s-slider {
	padding: 0 15px;
}

.s-slider p {
	margin-bottom: 40px;
}

.btn-bl {
	display: inline-block;
	margin-left: 10px;
	padding: 5px 10px;
	font-size: 10px;
	color: #fff;
	text-transform: uppercase;
	background: #1e1e20;
	border: none;
	cursor: pointer;
}


/* ------ STYLE SELECT -----------------
--------------------------------------*/
/* Основная часть */
.cusel {
    position: relative;
    z-index: 1;
    display: inline-block;
    height: 25px;
    font-size: 12px;
    border: 1px solid #EAEAEA;
    background: #fff;
    vertical-align: middle;
    cursor: pointer;
}
/* Стрелочка справа */
.cuselFrameRight {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    height: 100%;
    width: 20px;
    background: url(../img/select-arrow.png) no-repeat center;
}
/* Текст в селекте */
.cuselText { 
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 25px;
    padding: 0 25px 0 5px; 
    font-weight: bold;
    font-size: 12px; 
    line-height: 25px;
    color: #7e7e7f;
    cursor: pointer;
    overflow: hidden;
}
* html .cuselText {height: 30px;}

/* Оформление пунктов списка */
.cusel span { 
    display: block;
    padding: 5px 15px; 
    font-weight: bold;
    font-size: 13px; 
    zoom: 1;
    cursor: pointer;
    white-space: nowrap;
}

/* Оформление пунктов списка при наведении*/
.cusel span:hover,
.cusel .cuselOptHover { background: #eee;}

/* Оформление активного пункта списка  */
.cusel .cuselActive,
.cusel .cuselActive:hover { background: #DA0612; color: #fff;}

/* Оформление селекта при наведении и клике */
.cusel:hover,
.cusel:focus,
.cuselFocus {background: transparent;}

/* Оформление стрелки при наведении и клике */
.cusel:hover .cuselFrameRight,
.cusel:focus .cuselFrameRight,
.cuselFocus .cuselFrameRight {
    background: transparent url(../img/select-arrow.png) no-repeat center;
}

/* видимость выпадающего списка */
.cuselOpen {z-index: 999;}

/* Оформление селекта и стрелки disabled */
.classDisCusel,
.classDisCusel .cuselFrameRight {
    background-image: url(../img/select-arrow.png) no-repeat center;
    cursor: default;
    color: #ccc;
}
/* Оформление текста в селекте когда он disabled */
.classDisCusel .cuselText {
    cursor: default;
    color: #ccc;
}

/* Оформление выпадающего списка */
.cusel .cusel-scroll-wrap {
    position: absolute;
    left: 0;
    top: 100%;
    display: block;
    min-width: 100%;
    width: auto;
    height: auto !important;
    visibility: hidden;
    margin-top:5px;
    padding: 5px 0;
    border: 1px solid rgba(0, 0, 0, 0.15);
    background: #fff;
    overflow: hidden;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    -ms-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    -o-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.cusel .jScrollPaneContainer {
    position: relative;
    z-index: 5;
    overflow: hidden;
    background: #fff;
}
/* блок для элементов списка с отступом справа для скролла */
.cusel-scroll-pane {
    top: 5px;
    right: 3px;
    left: 0;
    width: auto !important;
}

/* Линия по которой будет проходить скролл */
.cusel .jScrollPaneTrack {
    position: absolute;
    top: 0;
    right: 2px;
    height: 100%;
    width: 5px !important;
    background: #EEE;
}

/* кнопка для скролла */
.cusel .jScrollPaneDrag {
    position: absolute;
    left: 0px;
    width: 5px !important;
    height: 27px !important;
    background: #6E939E;
    cursor: pointer;
    overflow: hidden;
    border-radius: 3px;
}

/* эти 2 стиля не трогаем */
.cusel .jScrollPaneDragTop {
    position: absolute;
    top: 0;
    left: 0;
    width: 0 !important;
    overflow: hidden;
}
.cusel .jScrollPaneDragBottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0 !important;
    overflow: hidden;
}

/* Стрелка вверху для скролла */
.cusel .jScrollArrowUp {
    position: absolute;
    top: 0;
    right: 4px;
    width: 0 !important;
    height: 0;
    cursor: pointer;
    overflow: hidden;   
}

/* Стрелка внизу для скролла */
.cusel .jScrollArrowDown {
    width: 0 !important;
    height: 0;
    position: absolute;
    top: auto;
    bottom: 0;
    right: 4px;
    cursor: pointer;
    overflow: hidden;
}

/* Login */

.form a {
  text-decoration: none;
  color: #8c8c8c;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
.form a:hover {
  color: #179b77;
}

.form {
  background: #fff;
  padding: 40px;
  max-width: 600px;
  margin: 0 auto 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
  background: #000 url(../img/footer-bg.png) repeat;
}

.form .tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.form .tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.form .tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
.form .tab-group li a:hover {
  background: #179b77;
  color: #000;
}
.form .tab-group .active a {
  background: #1ab188;
  color: #000;
}

.form .tab-content > div:last-child {
  display: none;
}

.form h1 {
  text-align: center;
  color: #fff;
	text-transform: uppercase;
	font: 28px 'Oswald', sans-serif;
	margin-bottom: 20px;
}

.form label {
  position: absolute;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  left: 13px;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
}
.form label .req {
  margin: 10px 2px;
  color: #cd3737;
}

.form label.active {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}
.form label.active .req {
  opacity: 0;
}

.form label.highlight {
  color: #8c8c8c;
}

.form input, .form textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #fff;
  border-radius: 0;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
}

.form input:focus, .form textarea:focus {
  outline: 0;
  border-color: #1ab188;
}

.form textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}

.form .field-wrap {
  position: relative;
  margin-bottom: 40px;
}

.form .top-row:after {
  content: "";
  display: table;
  clear: both;
}
.form .top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.form .top-row > div:last-child {
  margin: 0;
}

.form .button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font: 28px 'Oswald', sans-serif;;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #cd3737;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;

}
.form .button:hover, .form .button:focus {
  background: #179b77;
}

.button-block {
  display: block;
  position: relative;
  z-index: 5;
  width: 100%;
}

.form .forgot {
  margin: -26px 0 10px 0;
  text-align: right;
}

ul.errors {
	font-weight: bold;
	font-size: 14px;
	color: #a94442;
	margin-bottom: 20px;
	padding: 15px;
	background-color: #f2dede;
	border-color: #ebccd1;
	border: 1px solid transparent;
	border-radius: 4px;
}

/* cart */
#hamburger-menu, #cart-trigger {
  position: absolute;
  top: 0;
  height: 100%;
}
#hamburger-menu a, #cart-trigger a {
  width: 60px;
  height: 100%;
}
#cart-trigger {
  right: 0;
}

header a.cart-link {
  float: right;
  padding-left: 1em;
  margin-right: 1em;
  border-left: 1px dotted #515151;
  line-height: 3em;
  text-decoration: none;
  color: #fff;
  transition: color 150ms ease-out;
}
header a.cart-link:hover {
  color: #7cbae6;
}
header a.cart-link:active, header a.cart-link .active {
  color: #9cdaf0;
}
header span.cart-text:before {
  margin: 5px;
}
header span.cart-text:before > span {
  display: block;
}
header span.cart-quantity {
  position: relative;
  top: -2px;
  left: 5px;
  display: inline-block;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #f63;
  font-size: 0.6em;
  line-height: 20px;
  text-align: center;
  color: #fff;
}

header .cart-quantity.empty {
  display: none;
}
header a.cart-link.active {
  border: 0;
 }
header a.cart-link.active span.cart-text {
  display: none;
}
header a.cart-link.active span.cart-quantity {
  display: none;
}

@media only screen and (min-width: 900px) {
  #cart-trigger {
    right: 0;
  }
  #cart-trigger a {
    position: relative;
    width: 100px;
    border-left: none;
    background-color: #26292f;
  }
  header a.cart-link {
    padding-left: 1em;
    margin-right: 1em;
    line-height: 5em;
  }
}

#main-nav, #cart {
  position: fixed;
  top: 0;
  height: 100%;
  width: 260px;
  padding-top: 50px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  z-index: 3;
}

@media only screen and (min-width: 768px) {
  #cart {
    width: 350px;
  }
}

@media only screen and (min-width: 900px) {
  #main-nav, #cart {
    width: 30%;
    padding-top: 80px;
  }
}

.cart-product  span{
  position: relative;
  display: inline-block;
  height: 75px;
  width: 75px;
  background-size: cover;
  vertical-align: top;
}

.cart-product input.qty {
  width: 75px;
  height: 75px;
  padding: 0;
  border: 0;
  border-right: 1px solid #333;
  background: rgba(0, 0, 0, 0.5);
  font-size: 2.5em;
  line-height: 75px;
  text-align: center;
  color: #fff;
}

.cart-product .subtotal {
  position: relative;
  display: inline-block;
  margin: 8px;
  font-size: 0.8em;
}
#cart {
  right: -100%;
  background: #FFF;
  -webkit-transition: right 0.3s;
  -moz-transition: right 0.3s;
  transition: right 0.3s;
}

#cart.speed-in {
  right: 0;
}
#cart > * {
  padding: 0 1em;
}
#cart h2 {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 1em 0;
}
#cart .cart-items {
  padding: 0;
}
#cart .cart-items li {
  position: relative;
  padding: 1em;
  border-top: 1px solid #e0e6ef;
}
#cart .cart-items li:last-child {
  border-bottom: 1px solid #e0e6ef;
}
#cart .qty, #cart .price {
  color: #a5aebc;
}
#cart .price {
  margin-top: .4em;
}
#cart .item-remove {
  position: absolute;
  right: 1em;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: url("/assets/images/remove-item.svg") no-repeat center center;
}
.no-touch #cart .item-remove:hover {
  background-color: #e0e6ef;
}
#cart .cart-total {
  padding-top: 1em;
  padding-bottom: 1em;
}
#cart .cart-total span {
  float: right;
}
#cart .cart-total::after {
  content: '';
  display: table;
  clear: both;
}
#cart .checkout-btn {
  display: block;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: #7dcf85;
  color: #FFF;
  text-align: center;
}
.no-touch #cart .checkout-btn:hover {
  background: #a2dda8;
}
#cart .go-to-cart {
  text-align: center;
  margin: 1em 0;
}
#cart .go-to-cart a {
  text-decoration: underline;
}
@media only screen and (min-width: 900px) {
  #cart > * {
    padding: 0 2em;
  }
  #cart .cart-items li {
    padding: 1em 2em;
  }
  #cart .item-remove {
    right: 2em;
  }
}

.button .addtocart {
   position: absolute;
   left: 48px;
   width: 100%;
   height: 100%;
   transform-style: preserve-3d;
   transform: translateZ(-100px);
   transition: transform 300ms;
   cursor: pointer;
 }
 .button .addtocart > div {
   position: absolute;
   display: block;
   width: 150px;
   height: 50px;
   border-radius: 0 2px 2px 0;
   line-height: 50px;
 }
 .button .addtocart > .add {
   background: #fff;
   color: #7cbae6;
   transform: rotateY(0deg) translateZ(25px);
   transition: background 150ms ease-out;
 }
 .button .addtocart >.add:hover {
   background: #7cbae6;
   color: #fff;
 }
 .button .addtocart > .added {
   background: #f63;
   color: #fff;
   transform: rotateX(90deg) translateZ(25px);
 }
 .button .addtocart.active {
   animation-name: rotate;
   animation-duration: 1s;
 }